body {
    padding: 15;
    margin: 0;
    font-family:"Lucida Console", "Courier New", monospace;
    background-image: url("./greengrid.jpg");
    color: #09ff00;
    
  }
  #ufo{
    height: 10px;
    width: 10px;
  }
  /*Style map*/
  #map {
    position: absolute;
    top: 150px; 
    left: 25px;
    right: 25px;
    bottom: 50px;
  }
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);}
/*Style title*/ 
  h2{
    padding-left: 15px;
    
  }

/*Style navbar and links*/
 a{
  color: #09ff00;
  text-align: center;
 }
 #links{
  text-align: center;
  border:dotted;
  border-color: #09ff00;
  padding: 10px;
}
/*Style popup text*/
h3,p {
  text-align: center;
  font-family:"Lucida Console", "Courier New", monospace;
}
.dashboard{
  position: relative;
}
.graph-container{
  /*position: absolute;*/
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  
}

#pie{
  width: 500px !important; 
  height: 500px !important;
  top:0;
  padding-left:20 !important;
  background-color: #ccfcb6 !important;
  border: outset !important;
  border-color: #09ff00 !important;
  border-width: thick !important;
  
  
  
}
#bar{
  width: 800px !important;
  height: 400px !important;
  padding-top:70px !important;
  /* padding-left: 200px !important; */
  background-color: #ccfcb6 !important;
  border: outset !important;
  border-color: #09ff00 !important;
  border-width: thick !important;
  margin-left: 100px !important;
  
}
#line{
  width: 800px !important;
  height: 400px !important;
  padding-left: 100px !important;
  background-color: #ccfcb6 !important;
  border: outset !important;
  border-color: #09ff00 !important;
  border-width: thick !important;
  
}
